In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(5, 3))
index  = ['a', 'c', 'e', 'f', 'g', 'h']
columns = ['one', 'two', 'three']

In [15]:
df.reindex(index=index, columns=columns)

   one  two  three
a  NaN  NaN    NaN
c  NaN  NaN    NaN
e  NaN  NaN    NaN
f  NaN  NaN    NaN
g  NaN  NaN    NaN
h  NaN  NaN    NaN